.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222;
}

.dropdown, .navitem {
	float: left;
}

.dropdown a, .ddbutton {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown a:hover, .dropdown:hover .ddbutton, .navitem:hover {
	background-color: red;
}

.dropdown {
	display: inline-block;
}

.ddcontent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

.ddcontent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.ddcontent a:hover, .ddcontent a::selection {
	background-color: #f1f1f1;
}

.dropdown:hover .ddcontent {
	display: block;
}