body {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 100;
}

.navbar {
	margin: 1vmin 1vmin 0;
}

/* Fullscreen anything */
[fullscreen] {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 100;
}

body > iframe {
	flex: 1 1 auto;
	border: none;
	min-width: 420px;

}